NoesisBatchScripts/Armor/ahk_log.txt
FFXIBatchApp/FFXIBatchApp/.vs
FFXIBatchApp/FFXIBatchApp/FFXIBatchApp/bin/Debug/ToolData
FFXIBatchApp/FFXIBatchApp/FFXIBatchApp/bin/Debug/ToolDataNoesis
FFXIBatchApp/FFXIBatchApp/FFXIBatchApp/bin/Debug/ToolOutput_*
FFXIBatchApp/FFXIBatchApp/FFXIBatchApp/bin/Debug/log.txt
